body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.p-3 {
  transition-duration: 0.5s;
}

.p-2 {
  transition-duration: 0.5s;
}

.polish {
  background-image: url("/public/image/pl.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.english {
  background-image: url("/public/image/us.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
